<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            {% load static %}
            <img src="{% static 'home/images/img1.jpg' %}" class="bd-placeholder-img img-fluid">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1 class="featurette-heading">Red internet con calidad</h1>
                    <p class="lead">Conoce nuestros planes de internet para el sector rural de Quimbaya.</p>
                    <p><a class="btn btn-lg btn-danger" href="{% url 'services' %}" role="button">Nuestros planes</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'home/images/img2.jpg' %}" class="bd-placeholder-img img-fluid">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="featurette-heading">Infraestructura propia</h1>
                    <p class="lead">Tenemos una red privada para brindarte la mejor conexion a Internet.</p>
                    <p><a class="btn btn-lg btn-danger" href="{% url 'us' %}" role="button">Conoce nuestra forma de trabajo</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'home/images/img3.jpg' %}" class="bd-placeholder-img img-fluid">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1 class="featurette-heading">Llegamos a tu hogar</h1>
                    <p class="lead">Nuestro equipo trabaja para brindarte <br> cobertura donde quiera que estés.</p>
                    <p><a class="btn btn-lg btn-danger" href="{% url 'contact' %}" role="button">Contactacnos</a></p>
                </div>|
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>