<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Planes Internet Rural Quindío.<span class="text-muted">Llegamos al campo</span></h2>
        <p class="lead">En Redci estamos comprometidos por brindarte la mejor calidad en la conexión a internet. Trabajamos para llegar a cubrir la zona rural de todo el Quindío. Conoce los planes que tenemos para ti. Y comparte lo que puedes hacer desde cualquier lugar.</p>
    </div>
    <div class="col-md-5">
        {% load static %}
        <img src="{% static 'home/images/img4.jpg' %}" class="featurette-image img-fluid mx-auto" width="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Descubre el mundo de internet.<span class="text-muted"> Y todas sus herramientas</span></h2>
        <p class="lead">En la Web hay multiples sitios donde puedes prepararte. Estudia lo que siempre has querido y logra tus objetivos.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{% static 'home/images/img5.jpg' %}" class="featurette-image img-fluid mx-auto" width="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Pensamos en su Negocio.<span class="text-muted"> Ideamos planes Corporativos</span></h2>
        <p class="lead">Conocemos que las exigencias de nuestros clientes son variadas. Tenemos planes con prioridad de navegación y más megas. Pensado para gran navegación como hoteles y empresas.</p>
    </div>
    <div class="col-md-5">
        <img src="{% static 'home/images/img6.jpg' %}" class="featurette-image img-fluid mx-auto" width="500">
    </div>
</div>

<hr class="featurette-divider">
