<div class="row">
    <div class="col-lg-4">
        {% load static %}
        <img src="{% static 'home/images/img7.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Internet para el Hogar</h2>
        <p class="lead text-center">En Redci queremos que puedas acceder al contenido web de manera segura. Por ello tenemos conexiones dedicadas y una red privada. Recuerda tambien navegar en sitios seguros con el <span width="14" data-feather="lock"></span> y que el nombre de la pagina sea el correcto.</p>
    </div>
    <div class="col-lg-4">
        <img src="{% static 'home/images/img8.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Accede a tus redes sociales</h2>
        <p class="lead text-center">Internet nos facilita la comunicación con nuestros amigos y familiares. En Redci queremos que utilices las redes sociales con responsabilidad y compartas tus mejores experiencias.</p>
    </div>
    <div class="col-lg-4">
        <img src="{% static 'home/images/img9.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Tus dispositivos en linea</h2>
        <p class="lead text-center">El contenido web esta al alcance de tus dispositivos. Por trabajo o entretenimiento, cuida tus horas de sueño.</p>
    </div>
</div>