{% extends "../layouts/template.html" %}

{% block title %}Inicio{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'home/icons.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
{% endblock %}

{% block content %}
{% include "home/_carousel.html" %}
<div class="container marketing">
{% include "home/_threeColumns.html" %}
{% include "home/_featurette.html" %}
</div>
{% endblock %}