<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
          {% load static %}
          <img src="{% static 'layouts/images/redci.png' %}" width="150" class="align-top">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse justify-content-end navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'test' %}">Test de velocidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'us' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'normativity' %}">Normatividad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                </li>
                <li>
                    <a class="nav-link text-danger" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>
</header>