{% extends "../layouts/template.html" %}

{% block title %}Contacto{% endblock %}

{% block style %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="featurette-heading">Contacto<span class="text-muted"> Icono </span></h2>
    <p class="lead">Frase de contacto</p>
</div>

<div class="container marketing">
    <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
        <h1 class="featurette-heading">Contacto</h1>
        <p class="lead">Frase de contacto</p>
    </div>
    <div class="container">
    </div>
</div>
{% endblock %}