{% extends "layouts/simple_template.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'login/floating-labels.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<form class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'login/images/redciSimbolo.png' %}" height="50">
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
    </div>
    <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Connor@redci.net" required autofocus>
        <label for="inputEmail">Correo Electrónico</label>
    </div>
    <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Contraseña</label>
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-outline-danger btn-block mb-4" type="submit">Iniciar Sesión</button>
    {# <p class="text-center">Esta sección esta orientada a nuestros clientes y administradores, por favor solicita tu cuenta para estar informado de tu servicio en <a href="{% url 'contact' %}">redci.net/contacto</a></p> #}
    <a class="small" href="{% url 'home' %}">Inicio</a>
    <p class="mt-5 mb-3 text-muted text-center">Red internet con calidad SAS</p>
</form>
{% endblock %}