{% extends "layouts/template.html" %}

{% block title %}Normatividad{% endblock %}

{% block style %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-7">
        <h2 class="featurette-heading">Normatividad<span class="text-muted"> Icono </span></h2>
        <p class="lead">Cumplimos con...</p>
    </div>
    <div class="col-md-5">
    	{% load static %}
        <img src="{% static 'normativity/images/img10.jpg' %}" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500">
    </div>
</div>
{% endblock %}