{% extends "layouts/template.html" %}

{% block title %}Test de Velocidad{% endblock %}

{% block style %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="featurette-heading">Test de Velocidad</h2>
    <iframe width="100%" height="650px" frameborder="0" src="http://redci.speedtestcustom.com"></iframe>
</div>
{% endblock %}