{% extends "layouts/template.html" %}

{% block title %}Nosotros{% endblock %}

{% block style %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="container">
        <h2 class="featurette-heading">Nosotros</h2>
        <br>
        <p class="lead mb-4 text-danger"> <strong>Construir mejor la página </strong></p>

        <hr class="featurette-divider">
        <p class="lead mb-4">Nuestra forma de trabajo</p>

    <div class="row featurette">
        <div class="col-md-4">
        	{% load static %}
            <img src="{% static 'us/images/office.jpg' %}" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500">
        </div>
        <div class="col-md-8">
            <p class="lead text-justify">
                Queremos 
            </p>
            <p class="lead text-justify">
                Somos una empresa constituida en el sector de Quimbaya Quindío, ofrecemos servicio de acceso a Internet 
                para la zona rural del Quindío y estamos llevando una avanzada para llegar a los pueblos y cabeceras municipales.</p>
            <p class="lead text-justify">
                Nos interesa ofrecerle a nuestros clientes un servicio de calidad sin retardos ni caídas​. Si quieres conocer mas 
                de nuestra oferta no dude en contactarnos y realizaremos un estudio de puesta en marcha de Internet pensado en sus criterios.</p>
        </div>

    </div>



</div>
{% endblock %}
