<div class="list-group list-group-horizontal-sm" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action btn-outline-danger active mb-4" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
        Internet Rural
    </a>
    <a class="list-group-item list-group-item-action btn-outline-danger mb-4" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">
        Quimbaya Pueblo
    </a>
    <a class="list-group-item list-group-item-action btn-outline-danger mb-4" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
        Instalacion CCTV
    </a>
</div>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <div class="card-deck mb-1 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Plan Basico</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$77.500</h1> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Zona wifi hogar</li>
                        <li class="list-group-item">Hasta 3Mbps de Navegación</li>
                        {# <li class="list-group-item"></li> #}
                    </ul>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Plan Corporativo</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$125.000</h1> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Zona wifi hogar</li>
                        <li class="list-group-item">Hasta 4Mbps de Navegación</li>
                        {# <li class="list-group-item"></li> #}
                    </ul>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Plan Premium</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$150.000</h1> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Zona wifi hogar</li>
                        <li class="list-group-item">Hasta 5Mbps de Navegación</li>
                        <li class="list-group-item">Sistema de Monitoreo (Opcional)</li>
                    </ul>
                </div>
            </div>
        </div>
        <h2 class="featurette-heading mb-4">Proceso de Instalación</h2>
        <p class="lead text-justify">Nuestro equipo de trabajo verifica la cobertura y los requerimientos de calidad en la señal para la instalación. Para esto se realiza una visita técnica, en ocaciones se debe realizar una vista extra para realizar medicion con equipos. Esta visita técnica no tiene costo.</p>
        <p class="lead text-justify mb-4">Una vez se compruebe los requerimientos de calidad en la señal, se puede instalar el servico. El costo de la instalación es de <strong>$250.000</strong> cobrados despues de finalizar la instalación.</p>
    </div>
    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <div class="card-deck mb-1 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Plan Hogar</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$58.000</h1> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Zona wifi hogar</li>
                        <li class="list-group-item">Hasta 5Mbps de Navegación</li>
                        {# <li class="list-group-item"></li> #}
                    </ul>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Plan Hogar Plus</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$85.000</h1> 
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Zona wifi hogar</li>
                        <li class="list-group-item">Hasta 10Mbps de Navegación</li>
                        {# <li class="list-group-item"></li> #}
                    </ul>
                </div>
            </div>
        </div>
        <h2 class="featurette-heading mb-4">Proceso de Instalación</h2>
        <p class="lead text-justify">Nuestro equipo de trabajo verifica la cobertura y los requerimientos de calidad en la señal para la instalación. Para esto se realiza una visita técnica, en ocaciones se debe realizar una vista extra para realizar medicion con equipos. Esta visita técnica no tiene costo.</p>
        <p class="lead text-justify mb-4">Una vez se compruebe los requerimientos de calidad en la señal, se puede instalar el servico. Los planes tienen clausula de permanencia aceptados una vez instalado el servicio. La clausula es de 7 meses a partir de la fecha de instalación. Si por algún motivo el usuario se reteria antes de cumplir con la clausula de permanencia deberá pagar un costo de <strong>$70.000</strong>.</p>
    </div>
    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
        <div class="row featurette mb-4">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Circuito cerrado de televisión,<span class="small text-muted"> cámaras de seguridad.</span></h2>
            </div>
            <div class="col-md-5 order-md-1">
                {% load static %}
                <img src="{% static 'services/images/cctv.jpg' %}" class="featurette-image img-fluid mx-auto" width="500">
            </div>
        </div>
        <p class="lead text-justify">El costo de instalación y puesta en marcha del circuito cerrado de televisión dependera de la solicitud del cliente y de los requerimientos de trabajo en campo.</p>
        <p class="lead text-justify mb-4">Se debe solicitar entonces una cotización, con la cual se programaran visitas técnicas para determinar el costo del trabajo. Las cotizaciones se entregaran por correo electrónico con las especificaciones de la visita.</p>           
    </div>
</div>
