{% extends "../layouts/template.html" %}

{% block title %}Servicios{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'service/pricing.css' %}">
{% endblock %}

{% block content %}

<div class="container marketing">
  <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
    <h1 class="featurette-heading">Servicios</h1>
    <p class="lead">Adquiera nuestros servicios.</p>
  </div>
  <div class="container">
  	{% include "services/_listgroup.html" %}
  </div>
</div>

{% endblock %}